<header>
    <div class="header-nav">
      <a href="/">ボルナビ</a>
      <p>ボルダリング歴１年の管理者による、ボルダリングジム比較サイト</p>
      <br>
      <ul>
        <li><a href="/search">探す</a></li>
        <% if (locals.isLoggedIn) { %>
          <li><a href="/logout">ログアウト</a></li>
        <% } else { %>
          <li><a href="/signup">新規登録</a></li>
          <li><a href="/login">ログイン</a></li>
        <% } %>
        <li><a href="/contact">ご意見箱</a></li>
      </ul>
    </div>
</header>