<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>boul_navi</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <%- include('partials/header'); %>
    <div class="main_wrapper">
      <div class="container">
        <ul class="contact">
          <% user_contacts.forEach((contact) => { %>
            <li><%=contact%></li>
            <li><%= contact.user_name %></li>
            <li><%- contact.content %></li>
          <% }); %>
            </ul>
      </div>
    </div>
    <footer>
    </footer>
  </body>
</html>