<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>boul_navi</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <%- include('header'); %>
    <div class="main_wrapper">
      <div class="container">
        <% if(errors.lenggth > 0){ %>
          <ul class="errors">
            <% errors.foreach(error => { %>
            <li><%= error %></li>
            <% }); %>
          </ul>
        <% } %>  
    </div>
    </div>
    <footer>
    </footer>
  </body>
</html>