<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>boul_navi</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <%- include('header'); %>
    <div class="main_wrapper">
      <div class="container">
        <!--
app.get("/gim/:id",(req,res) => {
  const id = req.params.id;
  connection.query(
    "SELECT * FROM gims JOIN informations ON gims.id = informations.gim_id WHERE id = ?;SELECT * FROM reviews JOIN users ON reviews.user_id = users.id WHERE id = ?",
    [id,id],
    (error,results) => {
      res.render("gim.ejs", {gim: results[0],reviews: results[1]});
    }
  );
});

<% var gimlocationlatlngs = gim_latlng.map((latlng) => { %>
          <div id = "gimlocationlat" title = "<%= latlng.lat %>"></div>
          <div id = "gimlocationlng" title = "<%= latlng.lng %>"></div>
          <% var gimlocationlatlng = { %>
          <%  gimlocationlat: gimlocationlat, %>
          <%  gimlocationlng: gimlocationlng %>
          <% } %>
          <% return gimlocationlatlng; %>
        <% })%>

SELECT DATE_FORMAT(result[1].create_day,'%Y年%m月%d日')

ビジター:大人2300円/中高生1700円/小学生以下1200円\r\n回数券:[4回券]8000円[6回券]11500円\r\n一般会員:[1ヶ月会員]12000円[3ヶ月会員]32000円[6ヶ月会員]62000円[12ヶ月会員]120000
一般10000円/高校生以上9000円/中学生7500円/小学生5000円\r\n10回券:一般13000円/高校生以上12000円/中学生10000円/小学生6500円\r\n1ヶ月会員:一般8000円/高校生以上7000円/中学生6000円/小学生4000円\r\n2ヶ月会員:一般14000円/高校生以上12500円/中学生11000円/小学生7000円\r\n3ヶ月会員:一般20000円/高校生以上18000円/中学生15000円/小学生10000円
34.453688, 135.393150
平日17時までや、土日祝17時以降の割引など、お得に利用できる時間が多い。また、ホールド替えに有名なクライマーをゲストセッターに招くなどしているので、面白い課題に挑戦することができる。地域のイベントにも積極的に積極的に出店している。
非会員:[平日2時間]一般1500円/学生1200円/小学生1000円[平日終日]一般2000円/学生1700円[休日2時間]一般1700円/学生1400円/小学生1200円[休日終日]一般2200円/学生1900円\r\nビジター会員:[平日1時間]一般800円/学生800円[平日2時間]一般1300円/学生1000円/小学生900円[平日終日]一般1500円/学生1200円/小学生1100円[土日1時間]一般1000円/学生1000円[土日3時間]一般1500円/学生1200円/小学生900円[土日終日]一般1700円/学生1400円/小学生1100円※小学生は別途規定あり。その他早割・夜割あり。\r\n回数券:[6回分]一般8500円/学生6500円[3回分]一般4200円/学生3300円\r\n月会員:[初回]一般8000円/学生6500円/小学生以下5500円[更新時]一般7000円/学生5500円/小学生以下4500円
34.711326, 135.639032
[1日]大人2200円/大学生1800円[回数券11回分]大人22000円(1日)/大学生18000円(2時間)/中高生12000(2時間)/小学生以下9000(2時間)(非会員：＋400円)\r\nレディースデイ：毎週水曜日[2時間]1200円[1日]1800円\r\n長期会員:[1年間]91500円2年目以降は87000円[1ヶ月]11000円[1ヶ月自動引き落とし]8800円
6回券:一般2000円/高校生以上1800円//中学生1500円/小学生1000円[2時間]一般1500円[3時間]常連割・ベネフィット-ワン1500円/学生・60歳以上1500円[1日]一般2200円/常連割・ベネフィット-ワン2000円/学生・60歳以上2000円
月会員:一般・常連割・ベネフィット-ワン11000（オールデイ）6000円（平日16:00まで)/学生・60歳以上9000円
キッズ価格:[1時間]1000円[2時間]子供だけ登る1500円/保護者も登る1000円
キッズスクール：月謝7700円
回数券:[9000円分]8000円/[3時間＋レンタル×５回分]9000円    
平日：12:00～22:00\r\n土曜日：10:00～22:00\r\n日祝：10:00～22:00
    -->
      </div>
    </div>
    <footer>
    </footer>
  </body>
</html>