<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>boul_navi</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <%- include('header'); %>
    <div class="main_wrapper">
      <div class="container">
        <!--
app.get("/gim/:id",(req,res) => {
  const id = req.params.id;
  connection.query(
    "SELECT * FROM gims JOIN informations ON gims.id = informations.gim_id WHERE id = ?;SELECT * FROM reviews JOIN users ON reviews.user_id = users.id WHERE id = ?",
    [id,id],
    (error,results) => {
      res.render("gim.ejs", {gim: results[0],reviews: results[1]});
    }
  );
});

        <% contacts.forEach((contact) => { %>
          <li>
            <p><a href=""><%- contact.name %></a></p>
            <p><%- contact.content %></p>
          </li>  
           ビジター会員:[平日終日]一般1650円/学生1430円/中高生1100円\r\n[土日祝終日]一般2200円/学生1870円/中高生1100円\r\n[土日祝17:00~]一般1650円/学生1430円/中高生1100円\r\n全店共通年会員:121000円\r\n年会員:99000円\r\n２店舗共通月会員:12100円\r\n月会員:一般9900円/学生7700円/中高生5500円
          <% })%>
        -->
      </div>
    </div>
    <footer>
    </footer>
  </body>
</html>