<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>boul_navi</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <%- include('header'); %>
    <div class="main_wrapper">
      <div class="container">
        <div class="location_button">
          <a href="/location">現在地から探す</a>
          <!-- 現在地マーク-->
        </div>>
        <div class="area_button">
          <a href="/area">エリアから探す</a>
          <!-- 電車マーク-->
        </div>
      </div>
    </div>
    <footer>
    </footer>
  </body>
</html>