<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>boul_navi</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <%- include('header'); %>
    <div class="sign">
      <div class="container">
        <div class="panel">
          <h2>新規登録</h2>
          <% if(errors.lenggth > 0){ %>
            <ul class="errors">
              <% errors.foreach(error => { %>
              <li><%= error %></li>
              <% }); %>
            </ul>
          <% } %>  
          <form action="/signup" method = "post">
            <p>お名前</p>
            <input type="text" name = "name">
            <p>メールアドレス</p>
            <input type="text" name = "email">
            <p>パスワード</p>
            <input type="password" name = "password">
            <input type="submit" value = "登録する">
            <br>
            <a href="/">戻る</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>